# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.yarn/
eslint.config.mjs
package-lock.json
package.json
package.json~

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Build output
build/
dist/
coverage/
public/
.vscode/
.DS_Store

# Logs
logs/
*.log
debug.log
out.log

# Database files
*.sqlite
*.db

# Miscellaneous
.idea/
*.swp
Thumbs.db

# Frontend specific files
/.next/
/.next/
/.cache/
/parcel-cache/
/webpack/

jest.config.js
